<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.practice.mapper.CommentMapper">
	<resultMap id="AllCommentResult" type="jp.co.practice.entity.Comment">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="message_id" property="messageId" />
		<result column="text" property="text" />
		<result column="insert_date" property="insertDate" />
		<result column="update_date" property="updateDate" />
		<result column="name" property="name" />
		<result column="branch_id" property="branchId" />
		<result column="department_id" property="departmentId" />
	</resultMap>

	<select id="getAllComment" resultMap="AllCommentResult">
		SELECT  comment.*, user.name, user.branch AS branch_id, user.department AS department_id
		FROM user, comment WHERE user.id = comment.user_id ORDER BY insert_date
	</select>

	<delete id="deleteCommentsOfMessage" parameterType="Integer">
		DELETE FROM comment WHERE message_id = #{messageId}
	</delete>

	<delete id="deleteComment" parameterType="Integer">
		DELETE FROM comment WHERE id = #{commentId}
	</delete>

	<insert id="postComment" parameterType="jp.co.practice.entity.Comment">
		INSERT INTO comment (user_id, message_id, text, insert_date, update_date)
		VALUES (#{userId}, #{messageId}, #{text}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	</insert>

</mapper>

